
          <html>
<head>
<meta charset="UTF-8">
<title>index</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>  

<body>
            <div class="login" >

             

                <form  action="/signin" method="POST">
                    <label style="font-size: 20px; color: rgb(27, 73, 240);" >Ingresar</label>
                    <br>
                <div >
                    <br>

                    <input type="text"  class=" border rounded" name="username" placeholder="usuario" autofocus >



                     <div class="message" id="usernameMessage"></div>
                

                <br>
                <br>
                 <div >

                
                    <input type="password"  class=" border rounded" name="password" placeholder="contrasena" autofocus >
                </div>

                 </div>

                <br>
                    <br>
                
                     <button class="btn btn-primary" id="btnSave">

                        Guardar
                    </button>
               
                </form>
                    <br>
               

                </div>


                

               
     </body>


<html>