

<div class="profile" class="profile">
    <div class=" text-center display-flex" >

        <h3>Bienvenido(a) {{user.fullname}}</h3>
        <br>
        
        <h4>Usuario: {{user.username}}</h4>
        <br>

        <h4>No. de Empleado: {{user.empleado}}</h4>
        <br>
        <h3>Gestiona tus cuentas Pulpo</h3>
    </div>
    <br>

    <div class="container text-center">

            <a class="btn btn-light" href="/crud/resetPass/{{user.id}}">Actualizar contraseña</a>
    </div>
        



</div>