<div= "container">

<div class="row">
    <div>

        <h3>Bienvenido {{user.fullname}}</h3>
        <br>
        
        <h4>Usuario: {{user.username}}</h4>
        <br>
        <h3>Gestiona tus cuentas Pulpo</h3>
    </div>


</div>

</div>