



.signin{

		
		padding: 10px;
		width: max-content;
		background-color: #f1f3f5;
		padding-left: 15px;
		color: #515050;

}

	.message {

	color: red;
	font-size: 9pt;
	margin-top: 3px;
	
}

.addTitle{
	
	font-size:20px;
	margin-top: 130px;
	margin-left: 40%;
	width: 40%;

	
}


.add{

	margin-top: 70px;
	margin-left: 40%;
	width: 20%;
	background-color: hsl(210, 50%, 98%);
	font-size:medium;
	border-radius: 20px;
	padding-left: 50px;
	
}
	



	.edit{

		background-color: #f1f3f5;
			padding-left: 15px;
			color: #515050;

	}


	.user{

		background-color: #f1f3f5;
			padding-left: 15px;
			color: #515050;

	}


	.profile{
		
		padding-top: 130px;
		color: #268ceb;
		

	}


	.box01{
		margin-top: 5% ;
		margin-left: 25%;
		width: 990px;
		height: 100px;
		
		color: black;
		display: flex;
		align-items: center;
		
	  }

	.list{

		
		float: right;
		width: 90px;
  		height: 50px;
  		
		
	}

	
	.buscador{
		padding-right: 90%;
		float:inline-end;
		width: 10%;
  		height: 20px;
  		
	}

.principal .header{

	display: flex;
	background: #ffffff;
	grid-area: header;
	color: #000103;
	


}

.titulo{

	padding-left: 15px;
	padding-top: 0px;
	font-size:20px;
	color: #bdbfc3;

}



 nav ul{
	
	display: flex;
	list-style-type: none;
	margin: 0;
	padding-top: 2px;
	background-color: #e0e2e4;


}



 nav ul li a{

	display: block;
	color: #515050;
	text-align:center;
	text-decoration: none;
	font-size: medium;
	

	
}  



 .navbar-nav > li{
	padding-left:60px;
	padding-right:40px;
	padding-top: 15px;
	padding-bottom: 15px;
  }

.navbar-center {
    position: absolute;
    left: 30%;
    transform: translatex(-20%);

  } 


  table{

	margin-left: 25%;
	max-width: 1000px;
    table-layout: fixed;
	
    
}


 thead{

	background-color:#fbfcfe;
	color:rgb(205, 212, 212);
	border-bottom: solid 2px #31a0f5;
	
	
	 }



 th, td {

	width: fit-content;
	color:#515050;
	
 }





 a {
	outline: none;
	text-decoration: none;
	padding: 2px 1px 0;
	
  }
  
  a:link {
	color: #268ceb;
  }
  
  a:visited {
	color: #515050;
  }
  
  a:focus {
	
	background: #b7def4;
  }
  
  a:hover {
	
	background: #b7d9f8;
  }
  
  a:active {
	
	color: #268ceb;
  }

 .btnA{

	margin: 0 auto;
 }
 

.showCta{

	margin-top: 500px;
	width:50%;
	background-color: darkgoldenrod;
}




