

*{
	
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	
		
		
		
	}

	.add{

			background-color: #f1f3f5;
			padding-left: 15px;
			color: #515050;

	}



	.edit{

		background-color: #f1f3f5;
			padding-left: 15px;
			color: #515050;

	}
.principal {

	
	width: 90%;
	max-width: 1280px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4,auto);
	grid-template-areas:
						
						 "header header header"
						 "navegacion navegacion navegacion"
						"column1 column1 aside"
						"column2 aside2 aside3"
						"footer footer footer";

	
}

.principal > div,
.principal .footer,
.principal .header,
.principal .aside{

background:#ffffff;
padding: 20px;
border-radius: 4px;

}

.principal .header{

	display: flex;
	background: #ffffff;
	grid-area: header;
	color: #000103;
	


}
.titulo{

	padding-left: 15px;
	padding-top: 0px;
	font-size:20px;
	color: #bdbfc3;

}

.principal .navegacion{

	
	grid-area: navegacion;
	


}

.navegacion{

	
	flex-direction: column;
	grid-area: navegacion;
	


}

nav ul{
	
	display: flex;
	list-style-type: none;
	margin: 0;
	
	background-color: #e0e2e4;


}



nav ul li a{

	display: block;
	color: #515050;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
	margin-left: 70px;
	font-size: medium;
	
}

table {
	width: max-content;
	border: 1px solid rgb(255, 255, 255);
	background-color:white;
	text-align: left;
	border-collapse: collapse;
	 
 }

 thead{

	background-color:#e0e2e4;
	color:rgb(71, 72, 72);
	border-bottom: solid 5px #31a0f5;

	
	 }

 th, td {
	
	padding: 10px;
	color:#515050;
	
 }

 a {
	outline: none;
	text-decoration: none;
	padding: 2px 1px 0;
  }
  
  a:link {
	color: #268ceb;
  }
  
  a:visited {
	color: #515050;
  }
  
  a:focus {
	border-bottom: 1px solid;
	background: #b7def4;
  }
  
  a:hover {
	border-bottom: 1px solid;
	background: #b7d9f8;
  }
  
  a:active {
	
	color: #268ceb;
  }

 