
<html>
<head>
<meta charset="UTF-8">
<title>index</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	
	<div class="principal">


		<header class="header">
			<div>
					
			<img src="/img/logo.png">
			<h1 class="titulo">Pulpo BackOffice</h1>

			</div>
			
			
			
		
			
		</header>

		<nav class="navegacion">

			<ul>
			{{#if user}}

				<li><a class="active" href="/profile">Home</a></li>
				

				

				<li><a class="active" href="/crud">Cuentas</a></li>
				
			{{#if user.is_admin}}
				<li><a class="active" href="./crud/usuarios">Alta de usuarios de cuenta</a></li>
				{{/if}}
				<li><a class="active" href="#inicio">Atributos</a></li>
				<li><a class="active" href="#inicio">Auditoria</a></li>
				<li><a class="active" href="/profile">Perfil</a></li>
				{{#if user.is_admin}}
				<li><a class="active" href="/signup">Registrar usuario</a></li>
				{{/if}}
				<li><a class="active" href="/logout">Cerrar sesión</a></li>
				


				{{else}}

				
				<li><a class="active" href="/signin">Ingresar</a></li>

			{{/if}}	


			</ul>


		</nav>

		
			<div>

				

</div>

		

    
</body>
</html>
</head>