<div class="container">
    <div class="row">

        <div class="column">
            
            <div class="card">

                 <h3>Agregar una cuenta nueva</h3>

                 <br>
                 <br>

                <form  class= "add" action= "/crud/add" method="POST">

                <div class="form-g">
                    <br>
                    <br>
                     <label >Nombre de la cuenta:</label>
                    <input type="text" class="text" name="nombre" placeholder="nombre" autofocus>

                </div>
                <br>
                <br>
                <div class="form-g">
                    <label >Plan contratado:</label>
                    <input type="text" class="text1" name="plan" placeholder="plan" autofocus>

                </div>
                <br>
                <br>
                <div class="form-g">

                    <label >Status:</label>
                    <input type="text" class="text1" name="status_c" placeholder="Status" autofocus>

                </div>
                <br>
                <br>
                <div class="form-g">
                    <label >País:</label>
                    <input type="text" class="text1" name="pais" placeholder="País" autofocus>

                </div>
                 <br>
                 <br>
                <div class="form-g">
                    <label >Zona horaria:</label>
                    <input type="text" class="text1" name="timezone" placeholder="Zona horaria" autofocus>

                </div>
                <br>
                <br>

                <div class="form-g">

                    <button class="boton">

                        Guardar
                    </button>
                    <br>
                    <br>
                </div>

                </form>

            </div>



        </div>


    </div>


</div>

