<div class="container">
    <div class="row">

        <div class="column">
            
            <div class="card">

                <form action= "/crud/add" method="POST">

                <div class="form-g">

                    <input type="text" class="text" name="nombre" placeholder="nombre" autofocus>

                </div>

                <br>
                <div class="form-g">

                    <input type="text" class="text1" name="plan" placeholder="plan" autofocus>

                </div>
                <br>
                <div class="form-g">

                    <button class="boton">

                        Guardar
                    </button>

                </div>

                </form>

            </div>



        </div>


    </div>


</div>

