<html>
<head>
<meta charset="UTF-8">
<title>index</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>


<div>
    <div >

        <div >
            
            <div >

                 <h3>Agregar una cuenta nueva</h3>

                 <br>
                 <br>

                <form  class= "add" action= "/crud/add" method="POST">

                <div class="form-g">
                    <br>
                    <br>
                     <label >Nombre de la cuenta:</label>
                    <input type="text" class="text" name="nombre" placeholder="nombre" autofocus>

                </div>
                <br>
                <br>
                <div class="form-g">
                    <label >Plan contratado:</label>
                    <input type="text" class="text1" name="plan" placeholder="plan" autofocus>

                </div>
                <br>
                <br>
                <div class="form-g">

                    <label >Status:</label>
                   
                          <select name="status" id="status">

                            
                             
                                <option value="">-- Status--</option>
                                <option value="Activa">Activa</option>
                                <option value="Pendiente">Pendiente</option>
                                <option value="Suspendida">Suspendida</option>


                            
                     </select>



                </div>
                <br>
                <br>
                <div class="form-g">
                    <label >País:</label>
                    <input type="text" class="text1" name="pais" placeholder="País" autofocus>

                </div>
                 <br>
                 <br>
                <div class="form-g">
                    <label >Zona horaria:</label>
                    
                    <select name="timezone" id="timezone">

                                <option value="0">-- Timezone--</option>
                                <option value="America/México">America/México</option>
                                <option value="Europa/España">Europa/España</option>
                             
                            
                    </select>
                        
                </div>
                <br>
                <br>

                <div class="form-g">

                    <button class="boton">

                        Guardar
                    </button>
                    <br>
                    <br>
                </div>

                </form>

            </div>



        </div>


    </div>


</div>
</html>
