<html>
<head>
<meta charset="UTF-8">
<title>index</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>

    
    
    
  

       
            
<div class="reset">


    <div class="row>"
                <label style="font-size: 20px; color: rgb(27, 73, 240);" >Cambiar contraseña</label>
                    <br>
                 <br>
                 <br>
            </div>
                   
            
                <form  >

                <div class="form-g">

                    <br>
                      <br>

                     <div class="col "> 
                     <label >Usuario: {{user.username}}</label>
                    <input type="text" class="form-label-lg border rounded"  name="user_id" id="id_user" value=" {{user.id}} " autofocus readonly>
                    </div>  
                    <br>
                    <br>
                    <label ><Span class = "rojo"> * </span>Ingrese una nueva contraseña:</label>
                   <br>
                    <input type="password"  class="border rounded" style="width: 280px;" name="password" id="password" placeholder="contraseña" autofocus>

                    <div class="message" id="passwordMessage"></div>

                </div>

                <br>

                 <div class="form-g">
                    <br>
                    <label ><Span class = "rojo"> * </span>Ingrese nuevamente la contraseña:</label>
                    <br>
                    <input type="password" id="passwordII"  class="border rounded" style="width: 280px;" name="password2" id="passwordII"  placeholder="Ingrese nuevamente la contraseña" autofocus>

                    <div class="message" id="passwordIIMessage"></div>

            </div>

                <br>
                
                
                <br>
                
                    <div class="form-g">

                    <button  class="btn btn-primary" id="btnSave">

                        Guardar
                    </button>

                

                    </form>

                <button class="btn btn-primary" id="btnCancel">Cancelar</button>
                    <br>
                       <br>
                 </div>
           



     

    
<script src="bootstrap-5.2.0-dist/js/jquery-3.6.1.min.js"></script>
		<script src="popper/popper.min.js"></script>
		<script src="bootstrap-5.2.0-dist/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script>
           


            $( document ).ready(function() {

                $( "#btnSave" ).click(function(e) {

                    console.log("btnSave On Click")
                    e.preventDefault();

                    const user= {

                        password: $("#password").val(),
                        password2:  $("#passwordII").val(),
                        
                    }

                    console.log(user)

                    $.post( "/crud/resetPass/{{user.id}}", user, function( data ) {

                        if(data.status=="ok"){

                            window.location.href = '/profile';

                        }else{
                            
                            $("#passwordMessage").text(data.errors.password || "")
                            $("#passwordIIMessage").html(data.errors.password2 || "")
                            
                        }
                    });
                
                });

            });

    
        </script>	



      {{!--   Botón cancelar --}}
         <script>
           


              
           
            $( document ).ready(function() {

                $( "#btnCancel" ).click(function(e) {

                    e.preventDefault();
                     
        
                   window.location.href = '/profile';
                
                });

            });

             

        </script>	

</div>
</html>
