<html>
<head>
<meta charset="UTF-8">
<title>index</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>


<div>
    <div >

        <div >
            
            <div >

                 <h3>Agregar un usuario nuevo</h3>

                 <br>
                 <br>
<table class="table">
                <form   action= "/crud/usuarios" method="POST">

                  <div >
                    <br>
                    <br>
                   
                <div >
                    <br>
                    <br>
                     <label >Nombre de usuario:</label>
                    <input type="text" class="text" name="nombre" placeholder="nombre" autofocus>

                </div>
                <br>
                <br>
                <div >
                    <label >Role:</label>

                     <select name="rol_id" id="rol_id">

                            <option value="">-- Roles--</option>

                            {{#each roles}} 

                                
                                <option value="{{id_rol}}">{{rol}}</option>
                          
                            {{/each}}

                     </select>

                </div>
                <br>
                <br>
                <div >

                    <label >email:</label>
                    <input type="email" class="text1" name="email" placeholder="email" autofocus>

                </div>
                <br>
                <br>
                <div>
                    <label >Zona horaria:</label>
                    
                       <select name="timezone" id="timezone">

                            <option value="">-- Zona horaria--</option>

                            {{#each timezones}} 

                                
                                <option value="{{id_timezone}}">{{timezone}}</option>
                          
                            {{/each}}

                     </select>
                        
                      

                </div>
                 <br>
                 <br>
                <div>
                    <label >Cuenta:</label>
                    <input type="text" class="text1" name="cuenta_id" placeholder="Id de la cuenta" autofocus>

                </div>
                <br>
                <br>

                <div >

                    <button class="boton">

                        Guardar
                    </button>
                    <br>
                    <br>
                </div>

                </form>

                </table>

            </div>



        </div>


    </div>


</div>
</html>
