<html>
<head>
<meta charset="UTF-8">
<title>index</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>


<div >
    

        
            
                <div class="usuariosTitle">
                 <h3>Agregar un usuario nuevo</h3>
                </div>
                

                <form class="usuarios" action= "/crud/usuarios" method="POST" id="FormUsuario">

                  <div >
                    <br>
                    <br>
                   
                <div >
                    <br>
                    <br>
                     <label >Nombre de usuario:</label>
                    <input type="text" class="text" name="nombre" id="userName" placeholder="nombre" autofocus>
                    <br>
                    <div class="message" id="nombreMessage"></div>
                </div>
                <br>
                <br>
                <div >
                    <label >Role:</label>

                     <select name="rol_id" id="rol_id">

                            <option value="">-- Roles--</option>

                            {{#each roles}} 

                                
                                <option value="{{id_rol}}">{{rol}}</option>
                          
                            {{/each}}

                     </select>
                    
                      
                
                          <div class="message" id="rolMessage"></div>
                </div>
                <br>
                <br>
                <div >

                    <label >email:</label>
                    <input type="email" class="text1" name="email" id="email_id" placeholder="email" autofocus>
                    <div class="message" id="emailMessage"></div>
             </div>
                <br>
                <br>

                <div>
                    <label >Zona horaria:</label>
                    
                       <select name="timezone" id="timezone_id">

                            <option value="">-- Zona horaria--</option>

                            {{#each timezones}} 

                                
                                <option value="{{id_timezone}}">{{timezone}}</option>
                          
                            {{/each}}

                     </select>
                     
                          <div class="message" id="timezoneMessage"></div>
                      

                </div>
                 <br>
                 <br>
                <div>
                    <label >Cuenta:</label>
                    <input type="text" class="text1" name="cuenta_id" id="cuenta_id" placeholder="Id de la cuenta" autofocus>
                      <div class="message" id="cuentaMessage"></div>
                </div>
                <br>
                <br>
                <div>
                    <label >Usuario:</label>
                    <input type="text" class="text1" name="user_id" id="user_id" placeholder="Id de tu usuario" autofocus>
                      <div class="message" id="usuarioMessage"></div>
                </div>

                <div >

                    <br>

                    <button type="submit"  class="btn btn-primary"  id="btnSave">

                        Guardar
                    </button>
                    <br>
                    <br>
                </div>

                </form>

              

           



        


    

<script src="bootstrap-5.2.0-dist/js/jquery-3.6.1.min.js"></script>
		<script src="popper/popper.min.js"></script>
		<script src="bootstrap-5.2.0-dist/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script>
           


            $( document ).ready(function() {

                $( "#btnSave" ).click(function(e) {

                    e.preventDefault();
                     
        
                    const account= {

                        nombre: $("#userName").val(),                       
                        rol_id:  $("#rol_id").val(),
                        email:  $("#email_id").val()  ,
                        timezone:  $("#timezone_id").val(),
                        cuenta_id:  $("#cuenta_id").val(),
                        user_id:  $("#user_id").val()
                    }
                    


                        
                    

                        
                    console.log(account)
                    $.post( "/crud/usuarios", account, function( data ) {

                        if(data.status=="ok"){

                            window.location.href = '/crud';

                        }else{
                            
                            $("#nombreMessage").text(data.errors.nombre || "" )
                            $("#rolMessage").html(data.errors.rol_id || "")
                            $("#emailMessage").html(data.errors.email || "")
                            $("#timezoneMessage").html(data.errors.timezone || "")
                            $("#cuentaMessage").html(data.errors.cuenta_id || "")
                             $("#usuarioMessage").html(data.errors.user_id || "")
                            
                        }
                    });
                
                });

            });

        

            

        

            

        </script>	
</div>
</html>




