<html>
<head>
    
 

<meta charset="UTF-8">
<title>index</title>

	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<div>
    <div >

        <div >
            
            <div >

                 <h3>Agregar vehículo a cuenta</h3>

                 <br>
                 <br>

               


                <form  class= "add"   >

                <div class="form-g">
                    <br>
                    <br>
                     <label >Tipo de vehículo:</label>
                    <input type="text" class="text" name="nombreV" id="nameVehiculo" placeholder="nombre" autofocus >
                <div class="message" id="nombreVMessage"></div>

                </div>
                <br>
                <br>
               

      

        

            

        

            

        </script>	
</body>
</html>
