
          <html>
<head>
<meta charset="UTF-8">
<title>index</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>  
            <div class="signin" >
                <h3>Ingresar</h3>
                <br>
                <form action="/signin" method="POST">

                <div >

                    <input type="text"  name="username" placeholder="usuario" autofocus required>
                    
                </div>

                <br>
                 <div >

                
                    <input type="password"  name="password" placeholder="contrasena" autofocus required>
                </div>

                 </div>

                <br>
               


                    <div >

                    <br>
                
                    <button>
                        Ingresar
                    </button>
                </div>
                </form>
               
      


</div>

<html>