<div class="container">
    <div class="row">

        <div class="column">
            
            <div class="card">
                    <h3>Sing Up</h3>
                    <br>
                <form action="/signup" method="POST">

                <div class="form-g">

                    <input type="text" class="text" name="username" placeholder="usuario" autofocus>
                    
                </div>

                <br>
                 <div class="form-g">

                
                    <input type="password" class="text" name="password" placeholder="contrasena" autofocus>
                </div>

                 </div>

                <br>
                 <div class="form-g">

                
                    <input type="text" class="text" name="fullname" placeholder="Nombre completo" autofocus>
                </div>


                    <div class="form-g">

                    <br>
                
                    <button>
                        Registrar
                    </button>
                </div>
                </form>
               
            </div>



        </div>


    </div>


</div>