<div class="container">
    <div class="row">

        <div class="column">
            
            <div class="card">
                <h3>Ingresar</h3>
                <br>
                <form action="/signin" method="POST">

                <div class="form-g">

                    <input type="text" class="text" name="username" placeholder="usuario" autofocus required>
                    
                </div>

                <br>
                 <div class="form-g">

                
                    <input type="password" class="text" name="password" placeholder="contrasena" autofocus required>
                </div>

                 </div>

                <br>
               


                    <div class="form-g">

                    <br>
                
                    <button>
                        Ingresar
                    </button>
                </div>
                </form>
               
            </div>



        </div>


    </div>


</div>