<html>
<head>
<meta charset="UTF-8">
<title>index</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>


<div class="add ">

 <div class="formulario">

     
            
            
                <form   action="/signup" method="POST">
                     <br>
                  
                <div class="row">
                          <br>
                          <br>
                   <label style="font-size: 20px; color: rgb(27, 73, 240);" >Registrar usuario de servico al cliente</label>
                    <br>
                    <br>
                </div>

                  
                <div class="row">
                <div  class="col">

                     <label >Ingrese un nombre de usuario:<Span class = "rojo"> * </span></label>
                      
                    <input type="text"  class="form-label-lg border rounded" id= "username_id" name="username" placeholder="usuario" autofocus required>
                    <br>
                      <div class="message" id="usuarioMessage"></div>
                </div>
                 </div>
                <br>
                 <div class="row">
                
                     <label >Password:<Span class = "rojo"> * </span></label>
                      
                    <input type="password"  class="form-label-lg border rounded" id= "password_id" name="password" placeholder="contrasena" autofocus required>
                      <br>
                      <div class="message" id="passwordMessage"></div>
                </div>

                    <br>
                    
                <div class="row">

                     <label >Confirmar password:<Span class = "rojo"> * </span></label>
                    
                    <input type="password"  class="form-label-lg border rounded" id= "password2_id" name="password2" placeholder="contrasena" autofocus required>
                      <br>
                      <div class="message" id="pass2Message"></div>
                </div>

                 

                <br>
                 <div class="row">

                     <label >Nombre completo:<Span class = "rojo"> * </span></label>
                      
                    <input type="text" class="form-label-lg border rounded" id= "name_id" name="fullname" placeholder="Nombre completo" autofocus required>
                      <br>
                      <div class="message" id="nombreMessage"></div>
                </div>

                    <br>
                 <div class="row">

                     <label >Tipo de usuario: <Span class = "rojo"> * </span></label>
                     
                    <input type="text" class="form-label-lg border rounded" id= "isAdmin_id" name="is_admin" placeholder="Rol de usuario" autofocus required>
                      <br>
                      <div class="message" id="isAdminMessage"></div>
                </div>

                    <div class="col">

                    <br>
                
                    <button class="btn btn-primary" >Registrar</button>
                     <br>
                </div>
                 <br>
                  <br>
                </form>
   
     </div>

        <div class="imgCS">

                    <img src="/img/CustomerService.png" class="img-fluid">

    </div>


 </div>





<script src="bootstrap-5.2.0-dist/js/jquery-3.6.1.min.js"></script>
		<script src="popper/popper.min.js"></script>
		<script src="bootstrap-5.2.0-dist/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script>
           


            $( document ).ready(function() {

                $( "#btnSave" ).click(function(e) {

                    e.preventDefault();
                     
        
                    const account= {

                        username: $("#username_id").val(),                       
                        password:  $("#password_id").val(),
                        password2:  $("#password2_id").val()  ,
                        fullname:  $("#name_id").val(),
                        is_admin:  $("#isAdmin_id").val()
                    }
                    


                        
                    

                        
                    console.log(account)
                    $.post( "/signup", account, function( data ) {

                        if(data.status=="ok"){

                            window.location.href = '/crud';

                        }else{
                            
                            $("#usuarioMessage").text(data.errors.username || "" )
                            $("#passwordMessage").html(data.errors.password || "")
                            $("#pass2Message").html(data.errors.password2 || "")
                            $("#nombreMessage").html(data.errors.fullname || "")
                            $("#isAdminMessage").html(data.errors.is_Admin|| "")
                            
                        }
                    });
                
                });

            });

        

            

        

            

        </script>
</div>
</html>