
          <html>
<head>
<meta charset="UTF-8">
<title>index</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>  
            <div class="login" >

          

                <form  action="/signin" method="POST">

                       <label style="font-size: 20px; color: rgb(27, 73, 240);" >Ingresar</label>
                <div >

                    <input type="text"  name="username" placeholder="usuario" autofocus required>
                

                <br>
                <br>
                 <div >

                
                    <input type="password"  name="password" placeholder="contrasena" autofocus required>
                </div>

                 </div>

                <br>
                    <br>
                
                    <button class="btn btn-primary">
                        Ingresar
                    </button>
               
                </form>
                    <br>
               

                </div>

               
     


<html>