<div class="container">
    <div class="row">

        <div class="column">
            
            <div class="card">
                    <h3>Registrar usuario</h3>
                    <br>
                <form action="/signup" method="POST">

                <div class="form-g">

                     <label >Ingrese un usuario:</label>
                    <input type="text" class="text" name="username" placeholder="usuario" autofocus required>
                    
                </div>

                <br>
                 <div class="form-g">

                     <label >Password:</label>
                    <input type="password" class="text" name="password" placeholder="contrasena" autofocus required>
                </div>

                 </div>

                <br>
                 <div class="form-g">

                     <label >Nombre completo:</label>
                    <input type="text" class="text" name="fullname" placeholder="Nombre completo" autofocus required>
                </div>

                    <br>
                 <div class="form-g">

                     <label >Tipo de usuario:</label>
                    <input type="text" class="text" name="role" placeholder="Rol de usuario" autofocus required>
                </div>

                    <div class="form-g">

                    <br>
                
                    <button>
                        Registrar
                    </button>
                </div>
                </form>
               
            </div>



        </div>


    </div>


</div>