<html>
<head>
<meta charset="UTF-8">
<title>index</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>


<div class="add ">

 <div class="formulario">

     
            
            
                <form   action="/signup" method="POST">
                     <br>
                  
                <div class="row">
                          <br>
                          <br>
                   <label style="font-size: 20px; color: rgb(27, 73, 240);" >Registrar usuario de servico al cliente</label>
                    <br>
                    <br>
                </div>

                  
                <div class="row">
                <div  class="col">

                     <label >Ingrese un nombre de usuario:<Span class = "rojo"> * </span></label>
                      
                    <input type="text"  class="form-label-lg border rounded" id= "username_id" name="username" placeholder="usuario" autofocus >
                    <br>
                      <div class="message" id="usuarioMessage"></div>
                </div>
                 </div>
                <br>
                 <div class="row">
                
                     <label >Password:<Span class = "rojo"> * </span></label>
                      
                    <input type="password"  class="form-label-lg border rounded" id= "password_id" name="password" placeholder="contrasena" autofocus >
                      <br>
                      <div class="message" id="passwordMessage"></div>
                </div>

                    <br>
                    
                <div class="row">

                     <label >Confirmar password:<Span class = "rojo"> * </span></label>
                    
                    <input type="password"  class="form-label-lg border rounded" id= "password2_id" name="password2" placeholder="contrasena" autofocus >
                      <br>
                      <div class="message" id="pass2Message"></div>
                </div>

                 

                <br>
                 <div class="row">

                     <label >Nombre:<Span class = "rojo"> * </span></label>
                      
                    <input type="text" class="form-label-lg border rounded" id= "name_id" name="fullname" placeholder="Nombre" autofocus >
                      <br>
                      <div class="message" id="nombreMessage"></div>
                </div>

                 <br>
                <div class="row">

                     <label >Apellido:<Span class = "rojo"> * </span></label>
                      
                    <input type="text" class="form-label-lg border rounded" id= "apellido_id" name="apellido" placeholder="Apellido(s)" autofocus >
                      <br>
                      <div  class="message" id="apellidoMessage"></div>
                </div>

                    <br>
                <div class="row">

                <div class="col">
                     <label >Tipo de usuario: <Span class = "rojo"> * </span></label>

                 <select class="form-select form-select-sm " style="width:auto"  name="is_admin" id= "isAdmin_id">

                             
                                <option value="">-- Tipo--</option>

                              {{#each userT}} 

                                <option value="{{id}}">{{tipo}}</option>
                                
                                 {{/each}}
                     </select>

                <div class="message" id="isAdminMessage"></div>
                </div>

                <br>

                 <div class="col">

                     <label >No. de Empleado:<Span class = "rojo"> * </span></label>
                      
                    <input type="text" class="form-label-lg border rounded" id= "empleado_id" name="empleado" placeholder=" E-1233" autofocus >
                      <br>
                      <div class="message" id="empleadoMessage"></div>
                </div>
                </div>


                    <div class="col">

                    <br>
                
                    <button class="btn btn-primary" id="btnSave" >Registrar</button>
                     
                      <button class="btn btn-primary" id="btnCancel">Cancelar</button>
                
                </div>
                 <br>
                  <br>
                </form>
   
     </div>

        <div class="imgCS">

                    <img src="/img/CustomerService.png" class="img-fluid">

    </div>


 </div>





<script src="bootstrap-5.2.0-dist/js/jquery-3.6.1.min.js"></script>
		<script src="popper/popper.min.js"></script>
		<script src="bootstrap-5.2.0-dist/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script>
           


            $( document ).ready(function() {

                $( "#btnSave" ).click(function(e) {

                    e.preventDefault();
                     
        
                    const account= {

                        username: $("#username_id").val(),                       
                        password:  $("#password_id").val(),
                        password2:  $("#password2_id").val(),
                        fullname:  $("#name_id").val(),
                        apellido:  $("#apellido_id").val(),
                        is_admin:  $("#isAdmin_id").val(),
                        empleado:  $("#empleado_id").val(),
                    }
                    


                        
                    

                        
                    console.log(account)
                    $.post( "/signup", account, function( data ) {

                        if(data.status=="ok"){

                            alert("Usuario creado correctamente");
                            window.location.href = '/profile';

                        }else{
                            
                            $("#usuarioMessage").text(data.errors.username || "" )
                            $("#passwordMessage").html(data.errors.password || "")
                            $("#pass2Message").html(data.errors.password2 || "")
                            $("#nombreMessage").html(data.errors.fullname || "")       
                            $("#apellidoMessage").html(data.errors.apellido|| "")
                             $("#isAdminMessage").html(data.errors.is_admin|| "")
                              $("#empleadoMessage").html(data.errors.empleado|| "")
                            
                        }
                    });
                
                });

            });

   

        </script>


                       </script>	

{{!-- botón cancelar --}}
         <script>
           
            $( document ).ready(function() {

                $( "#btnCancel" ).click(function(e) {

                    e.preventDefault();
                     
        
                   window.location.href = '/profile';
                
                });

            });

             

        </script>	
</div>
</html>